@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

@font-face {
    font-family: 'Headway';
    src: url(../fonts/headway.ttf);
}

:root {
    --font1: 'Headway';
    --font2: 'Open Sans';
    --color1: #013365;
    --color2: #FCFBF4;
    --color3: #F9E22A;
    --color4: rgba(0, 0, 0, 0.6);
}

body {
    margin: 0;
}

* {
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

.bg-yellow {
    background-color: var(--color3) !important;
}

.navbar-nav p:hover{
    transition: 0.5s;
    color: var(--color3) !important;
}

.navbar-dropdown:hover{
    transition: 0.5s;
    color: var(--color3) !important;
}

.bi-list {
    color: var(--color1);
}

.text-nav {
    padding-right: 1rem;
    padding-top: 0.5rem;
}


.bg-jumbotron {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    min-height: 100vh;
}

.bg-vereniging{
    background-image: url(../img/vereniging.jpg);
    background-size: cover;
    min-height: 100vh;
}

.bg-inloggen{
    background-image: url(../img/inloggen.jpg);
    background-size: cover;
    min-height: 100vh;
}

.jumbotron-head {
    padding-top: 10rem;
    color:var(--color2);
    font-size:80px;
    font-family: var(--font1);
}

.jumbotron-text{
    padding-top:2rem;
    font-family: var(--font2) !important;
    color: var(--color2);
    font-size: 18px;
}

.h2-main {
    color:var(--color1);
    font-size:55px;
    font-family: var(--font1);
    
    text-decoration: underline;
    text-decoration-color: var(--color3);
    text-underline-offset: 10px;
}

.h2-secondary {
    color:var(--color2);
    font-size:55px;
    font-family: var(--font1);
    
    text-decoration: underline;
    text-decoration-color: var(--color3);
    text-underline-offset: 10px;
}

.text-main {
    color:var(--color2);
    font-size: 18px;
    font-family: var(--font2);
}

.text-secondary {
    color: var(--color1) !important;
    letter-spacing: 0px;
    font-family: var(--font2);
    font-size: 18px;
}

.btn-primary {
    font-family: var(--font2);
    background-color: var(--color1);
    border-color: var(--color3);
    border-radius: 9999px;
    font-size:20px;
    border-width: 3px;
    --bs-btn-active-bg: var(--color5) !important;
    --bs-btn-active-border-color: var(--color1) !important;
}

.btn-primary:hover {
    background-color:var(--color3);
    border-color: var(--color1);
    transition: 0.4s;
}

.btn-secondary {
    font-family: var(--font2);
    background-color: var(--color1);
    border-color: var(--color1);
    border-radius: 9999px;
    font-size:18px;
    border-width: 3px;
    --bs-btn-active-border-color: var(--color1) !important;
}

.btn-secondary:hover{
    background-color:var(--color2);
    border-color: var(--color1);
    transition: 0.4s;
    color:var(--color1);
}

.btn-learn-more {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.bg-dark-transparent {
    background-color:var(--color4);
}

.lead {
    font-family: var(--font2);
    color: var(--color2);
    font-size:22px;
}

.card {
    --bs-card-border-width: 0px;
}

.card-title {
    color: var(--color2);
    font-family: var(--font1);
    font-size: 26px;
}

.card-text {
    color: var(--color2);
    font-family: var(--font2);
}

.bi-instagram, .bi-twitter, .bi-facebook {
    color:var(--color1);
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    width: 40px; 
    height: 40px;
}

.social-media {
    padding-bottom: 1rem;
    padding-top:25vh;
}

.bi-instagram:hover, .bi-twitter:hover, .bi-facebook:hover{
    color:var(--color3);
    transition: 0.4s;
}

.form-label {
	
	margin: 0;
	display: block;
	opacity: 1;
	-webkit-transition: .333s ease top, .333s ease opacity;
	transition: .333s ease top, .333s ease opacity;
}

.form-control {
	border-radius: 0;
	border-color: var(--color2);
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
}

.form-control:focus {
	box-shadow: none;
	border-color: var(--color3);
}

.js-hide-label {
	opacity: 0; 	
}

.js-unhighlight-label {
	color: var(--color2);
}

.login-form {
    margin-left:10%;
    margin-right:10%;
    padding:1.5em;
    background-color: #013365;
    border-radius:1em;
}

.card {
    padding-top: 0.6em;
    padding: 0.63em 1em;
    background: var(--color1);
    border: 2px solid var(--color5);
    border-radius: 0.75em;
    transform-style: preserve-3d;
}

.card::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 1;
    right: 1;
    bottom: 1;
    background: var(--color5);
    border-radius: inherit;
    transform: translate3d(0, 0.75em, -1em);
    transition: 150ms cubic-bezier(0, 0, 0.58, 1);
}

.forgot-password{
    text-decoration-color: var(--color3) !important;
}

.popup-form {
    border-width: 2px;
    border-color: var(--color1);
}